<h2>Editing Project</h2>
<hr />
<div class="btn-group">
  <%= button_to 'Back', projects_path, {method: :get, :class => "btn btn-secondary", :style => "width: 90px; border-radius: 0 !important;"} %>
  <%= button_to 'Show', @project, {method: :get, :class => "btn btn-primary", :style => "width: 90px; border-radius: 0 !important;"} %>
</div>
<hr />

<%= render 'form', project: @project %>

