<h2>New File</h2>
<hr />
<div class="btn-group">
  <% if params[:type] == "consolidation" %>
    <%= button_to 'Back', consolidation_url(:id => params[:cid]), {method: :get, :class => "btn btn-secondary", :style => "width: 90px; border-radius: 0 !important;", params: {:lid => params[:pid]}} %>
  <% end %>
</div>
<hr />

<%= render 'form', fileobject: @fileobject %>
